<div class="card-columns text-center">
  <div class="card bg-light border-danger col-md-12">
    <img src="../../assets/imgs/灯.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">LED灯</h5>
      <button type="button" class="btn btn-success mr-1" (click)="ledon()">开</button>
      <button type="button" class="btn btn-danger" (click)="ledoff()">关</button>
    </div>
  </div>
  <div class="card bg-light border-danger col-md-12">
    <img src="../../assets/imgs/消防喷头.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">火警喷头</h5>
      <button type="button" class="btn btn-success mr-1" (click)="cspon()">开</button>
      <button type="button" class="btn btn-danger" (click)="cspoff()">关</button>
    </div>
  </div>
  <div class="card bg-light border-danger col-md-12">
    <img src="../../assets/imgs/花洒.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">花洒喷头</h5>
      <button type="button" class="btn btn-success mr-1" (click)="fspon()">开</button>
      <button type="button" class="btn btn-danger" (click)="fspoff()">关</button>
    </div>
  </div>
  <div class="card bg-light border-danger col-md-12">
    <img src="../../assets/imgs/火警.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">警报</h5>
      <button type="button" class="btn btn-success mr-1" (click)="calarmon()">开</button>
      <button type="button" class="btn btn-danger" (click)="calarmoff()">关</button>
    </div>
  </div>
  <div class="card bg-light border-danger col-md-12">
    <img src="../../assets/imgs/空调.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">空调</h5>
      <button type="button" class="btn btn-success mr-1" (click)="acon()">开</button>
      <button type="button" class="btn btn-danger" (click)="acoff()">关</button>
    </div>
  </div>
  <div class="card bg-light border-danger col-md-12">
    <img src="../../assets/imgs/窗户.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">窗户</h5>
      <button type="button" class="btn btn-success mr-1" (click)="windowon()">开</button>
      <button type="button" class="btn btn-danger" (click)="windowoff()">关</button>
    </div>
  </div>

  <div class="card bg-light border-danger col-md-12">
    <img src="../../assets/imgs/门.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">门</h5>
      <button type="button" class="btn btn-success mr-1" (click)="dooron()">开</button>
      <button type="button" class="btn btn-danger" (click)="dooroff()">关</button>
    </div>
  </div>
  <div class="card bg-light border-danger col-md-12">
    <img src="../../assets/imgs/风扇.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">风扇</h5>
      <button type="button" class="btn btn-success mr-1" (click)="fanhigh()">高</button>
      <button type="button" class="btn btn-secondary mr-1" (click)="fanlow()">低</button>
      <button type="button" class="btn btn-danger" (click)="fanoff()">关</button>
    </div>
  </div>
  <div class="card bg-light border-danger col-md-12">
    <img src="../../assets/imgs/摄像头.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">摄像机</h5>
      <button type="button" class="btn btn-success mr-1" (click)="cameraon()">开</button>
      <button type="button" class="btn btn-danger" (click)="cameraoff()">关</button>
    </div>
  </div>
  <div class="card bg-light border-danger col-md-12">
    <img src="../../assets/imgs/窗帘.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">窗帘</h5>
      <button type="button" class="btn btn-success mr-1" (click)="curtainon()">开</button>
      <button type="button" class="btn btn-danger" (click)="curtainoff()">关</button>
    </div>
  </div>
</div>